a {
    text-decoration: none;
  }
  
  nav {
    font-family: Arial, sans-serif;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    transition: background-color 0.5s;
  }
  
  li:hover {
    background-color: #b39be0;
    cursor: pointer;
  }
  
  ul li ul {
    display: none;
    position: absolute;
    background-color: #754dbf;
    min-width: 200px;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  
  ul li:hover > ul {
    display: block;
  }
  
  ul li ul li {
    display: block;
    padding: 10px 20px;
  }
  
  .contenu {
    text-align: center;
    margin-top: 50px;
  }
  
  .contenu h3 {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: Arial, sans-serif;
    border: 2px solid #fff;
    width: 40%;
    border-radius: 4px;
  }
  
  .contenu h1 {
    font-size: 50px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  