div {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    max-width: calc(100% - 60px);
    background: #81667A;
    position: relative;
    border: 3px solid #111;
  }
  
  div::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border-radius: inherit;
    background: repeating-linear-gradient(
      45deg,
      #AA6DA3,
      #AA6DA3 2px,
      transparent 2px,
      transparent 5px
    );
    transition: all 0.9s ease;
  }
  
  /* DEMO STYLES*/
  
  body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  div + div {
    border-radius: 40px;
    height: 600px;
  }
  
  div:hover::before {
    top: 40px;
    left: 80px;
  }
  
  div + div:hover::before {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
  }